################################################################################
# btfsdl-watcher
# ==============
#
# a daemon for watching incoming torrents and magnets



[Unit]
Description=btfsdl-watcher
Wants=sys-devices-virtual-net-tun0.device
After=sys-devices-virtual-net-tun0.device



[Service]
Type=simple

WorkingDirectory=/var/opt/btfsdl
User=vagrant
Group=vagrant

EnvironmentFile=/var/opt/btfsdl/params

ExecStart=exec -c '/bin/bash /opt/btfsdl/main.sh'
ExecStopPost=exec -c 'rm -rf ~/btfs'

Restart=on-failure



[Install]
WantedBy=multi-user.target
